.content {
    padding-top: 200px;
    position: absolute;
    z-index: 0;
}

.header {
    font-size: 60px;
    cursor: default;
}

p {
    cursor: default;
}

.main_pic {
    padding-top: 30px;
    width: 500px;
}

